<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ArinWhois-VS2015" version="20160119.4" targetFramework="net452" />
  <package id="IPAddressRange" version="1.5.0.0" targetFramework="net452" />
  <package id="Jil" version="2.12.1" targetFramework="net452" />
  <package id="Sigil" version="4.5.1" targetFramework="net452" />
  <package id="WhoisClient-VS2015" version="20160119.2" targetFramework="net452" />
</packages>